{% extends 'mobiles/base.html' %}

{% block content %}

<h1 class="my-4">{% if request.path == '/create' %} New Product {% else %} Edit - {% endif %}
    {% if request.path != '/create' %}<small>{{ mobile.name }}</small>{% endif %}
</h1>
<div class="row">
    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                    <ul>
                        <li>
                            {{ error|escape }}  

                        </li>
                    </ul>
                        
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit"
             {% if request.path == '/create' %} value="Add" 
             {% else %} value="Go" 
             {% endif %} class="btn btn-success"/>

            <a href="{% url 'mobile_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </form>
    </div>
</div>

{% endblock %}
