{% extends 'mobiles/base.html' %}

{% block content %}

<h1 class="my-4">Detail -
    <small>{{ mobile.jan_code }}</small>
</h1>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item"><strong>Model:</strong> {{ mobile.model }}</li>
          <li class="list-group-item"><strong>Brand:</strong> {{ object.brand_name }}</li>
          <li class="list-group-item"><strong>Jan Code:</strong> {{ object.jan_code }}</li>
          <li class="list-group-item"><strong>Color:</strong> {{ object.color }}</li>

        </ul>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-12">
        <a href="{% url 'mobile_edit' mobile.id %}"><button type="button" class="btn btn-success">Edit</button></a>
        <a href="{% url 'mobile_delete' mobile.id %}"><button type="button" class="btn btn-success">Delete</button></a>
        <a href="{% url 'mobile_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>  

    </div>
</div>

{% endblock %}